.WeeklyForecast {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}

@media (max-width: 991px) {
   .WeeklyForecast {
      justify-content: space-evenly;
   }
}