@import '../../scss/helpers/_variables.scss';

.HistoryQueries {
   margin: 70px 0;
   padding: 40px;
   background-color: $GREY;

   ul {
      margin-top: 30px;
      list-style: none;
      display: flex;
      align-items: center;
      color: $BLUE;

      li {
         margin-right: 3%;
         font-weight: 700;
         cursor: pointer;

         &:hover {
            text-decoration: underline;
         }
      }
   }
}

@media (max-width: 992px) {
   .HistoryQueries {
		margin: 20px 0;
      padding: 10px;

      ul {
         margin-top: 15px;
         flex-wrap: wrap;
      }
   }
}